/* Responsive */
@media (min-width: 545px) {
    .gallery:nth-child(1) {
        grid-row: span 5;
    }

    .gallery:nth-child(2) {
        grid-row: span 11;
    }

    .gallery:nth-child(3) {
        grid-row: span 5;
    }

    .gallery:nth-child(4) {
        grid-row: span 10;
    }

    .gallery:nth-child(5) {
        grid-row: span 7;
    }

    .gallery:nth-child(6) {
        grid-row: span 7;
    }

    .gallery:nth-child(7) {
        grid-row: span 5;
    }
}

/* md */
@media (min-width: 768px) {
    .md-100 {
        width: 100%;
    }

    .md-80 {
        width: 80%;
    }

    .md-75 {
        width: 75%;
    }

    .md-60 {
        width: 60%;
    }

    .md-63 {
        width: 63.333%;
    }

    .md-50 {
        width: 50%;
    }

    .md-40 {
        width: 40%;
    }

    .md-33 {
        width: 33.333%;
    }

    .md-25 {
        width: 25%;
    }

    .md-20 {
        width: 20%;
    }

    .md-16 {
        width: 16.666%;
    }

    .md-10 {
        width: 10%;
    }

    .header-inner {
        text-align: left;
    }

    .chefs {
        flex-flow: row wrap;
    }

    .chef {
        flex: 1 0 50%;
    }

    .galleries {
        /* flex-flow: row wrap; */
    }

    .gallery:nth-child(1) {
        grid-row: span 6;
    }

    .gallery:nth-child(2) {
        grid-row: span 17;
    }

    .gallery:nth-child(3) {
        grid-row: span 7;
    }

    .gallery:nth-child(4) {
        grid-row: span 15;
    }

    .gallery:nth-child(5) {
        grid-row: span 10;
    }

    .gallery:nth-child(6) {
        grid-row: span 10;
    }

    .gallery:nth-child(7) {
        grid-row: span 7;
    }

    .contacts {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    li.contact {
        flex: 1 0 50%;
    }

    .contact-form {
        flex-flow: row wrap;
    }

    .contact-form input {
        width: 49%;
    }

    .footer {
        flex-direction: row;
    }
}

@media (min-width: 789px) {
    .gallery:nth-child(1) {
        grid-row: span 5;
    }

    .gallery:nth-child(2) {
        grid-row: span 11;
    }

    .gallery:nth-child(3) {
        grid-row: span 5;
    }

    .gallery:nth-child(4) {
        grid-row: span 10;
    }

    .gallery:nth-child(5) {
        grid-row: span 7;
    }

    .gallery:nth-child(6) {
        grid-row: span 7;
    }

    .gallery:nth-child(7) {
        grid-row: span 5;
    }
}

/* lg */
@media (min-width: 1024px) {
    .lg-100 {
        width: 100%;
    }

    .lg-80 {
        width: 80%;
    }

    .lg-75 {
        width: 75%;
    }

    .lg-50 {
        width: 50%;
    }

    .lg-33 {
        width: 33.333%;
    }

    .lg-25 {
        width: 25%;
    }

    .lg-20 {
        width: 20%;
    }

    .lg-16 {
        width: 16.666%;
    }

    .lg-10 {
        width: 10%;
    }

    nav .fa-bars {
        display: none;
    }

    nav .nav-links {
        background-color: transparent;
        width: fit-content;
        height: auto;
        position: static;
        transform: translateX(0);
    }

    .nav-links ul {
        flex-flow: row wrap;
    }

    .nav-links li a.active {
        color: #fff;
    }
    
    .close-nav .fa-xmark {
        display: none;
    }

    .header-inner {
        text-align: start;
    }

    a.header-button {
        border-top-left-radius: 0px;
    }

    .chef {
        flex: 1 0 33.333%;
    }

    .gallery:nth-child(1) {
        grid-row: span 6;
    }

    .gallery:nth-child(2) {
        grid-row: span 15;
    }

    .gallery:nth-child(3) {
        grid-row: span 6;
    }

    .gallery:nth-child(4) {
        grid-row: span 14;
    }

    .gallery:nth-child(5) {
        grid-row: span 9;
    }

    .gallery:nth-child(6) {
        grid-row: span 9;
    }

    .gallery:nth-child(7) {
        grid-row: span 6;
    }

    .footer-get-in-touch {
        flex: 1 0 33.333%;
    }

    .footer-subscribe {
        flex: 1 0 33.333%;
    }

    .footer-social {
        flex: 1 0 33.333%;
    }
}

@media (min-width: 1047px) {
    .gallery:nth-child(1) {
        grid-row: span 5;
    }

    .gallery:nth-child(2) {
        grid-row: span 11;
    }

    .gallery:nth-child(3) {
        grid-row: span 5;
    }

    .gallery:nth-child(4) {
        grid-row: span 10;
    }

    .gallery:nth-child(5) {
        grid-row: span 7;
    }

    .gallery:nth-child(6) {
        grid-row: span 7;
    }

    .gallery:nth-child(7) {
        grid-row: span 5;
    }
}

/* xl */
@media (min-width: 1280px) {
    .xl-100 {
        width: 100%;
    }

    .xl-80 {
        width: 80%;
    }

    .xl-75 {
        width: 75%;
    }

    .xl-50 {
        width: 50%;
    }

    .xl-33 {
        width: 33.333%;
    }

    .xl-25 {
        width: 25%;
    }

    .xl-20 {
        width: 20%;
    }

    .xl-16 {
        width: 16.666%;
    }

    /* .container {
        flex-flow: row wrap;
        max-width: 960px;
    } */
}

/* xxl */
@media (min-width: 1536px) {
    .xxl-100 {
        width: 100%;
    }

    .xxl-80 {
        width: 80%;
    }

    .xxl-75 {
        width: 75%;
    }

    .xxl-50 {
        width: 50%;
    }

    .xxl-33 {
        width: 33.333%;
    }

    .xxl-25 {
        width: 25%;
    }

    .xxl-20 {
        width: 20%;
    }

    .xxl-16 {
        width: 16.666%;
    }
}