* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

body::selection {
    background-color: #C17E1F;
    color: #000;
}

.container {
    padding: 40px 15px;
    width: 85%;
    margin: auto;
}

section {
    padding: 70px 0 20px;

}

.text-upper {
    text-transform: uppercase;
}

/* Start of Navbar */
nav {
    color: #fff;
    background-color: #171717;
    position: fixed;
    width: 100%;
    z-index: 99;
    /* box-shadow: 0px 0px 14px 0px #0000001b; */
    font-size: 16px;
    font-weight: 400;
}

nav .container {
    padding: 25px 15px;
}

.inner-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.nav-logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.nav-logo a::after {
    font-size: 30px;
    font-weight: 700;
    content: ".";
    /* color: #CE1212; */
    color: #C17E1F;
}

nav .fa-solid {
    font-size: 25px;
    line-height: 25px;
    font-weight: 900;
    cursor: pointer;
}

.nav-links {
    background-color: #fff;
    width: 280px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    transform: translateX(0);
    transition: all 1s;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
}

.nav-links ul li a {
    transition: all 1s;
}

.nav-links ul li a:hover {
    color: #fff;
}

.close-nav {
    padding: 10px 15px 5px;
    display: flex;
    justify-content: flex-end;
    color: #7F7F90;
}

i.fa-bars:hover .nav-links {
    transform: translateX(0);
}

.nav-links li {
    padding: 10px;
}

.nav-links a {
    color: #9f9f9f;
}

nav .nav-links ul li {
    position: relative;
}

nav .nav-links ul li a::before {
    content: "";
    background-color: #C17E1F;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -1px;
    left: 5px;
    transition: all 0.5s;
}

nav .nav-links ul li a:hover::before,
nav .nav-links ul li a.active::before {
    width: 52px;
}

/* End of Navbar */

/* Start of Header */
.header {
    /* background-color: #EEEEEE; */
    background-color: #252525;
    display: flex;
    align-items: center;
    /* height: 160vh; */
}

.header-inner {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-image {
    width: 100%;
}

.header-image img {
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
}

.header h2 {
    /* color: #37373F; */
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    font-family: "Amatic SC", sans-serif;
}

.header p {
    /* color: #4F4F5A; */
    color: #9f9f9f;
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
    margin: 20px 0;
}

.header-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

a.header-button {
    padding: 15px 30px;
    color: #000;
    /* background-color: #E61414; */
    background-color: #C17E1F;
    font-size: 15px;
    font-weight: 400;
    border-radius: 30px;
    transition: all 1s;
}

a.header-button:hover {
    background-color: #de8f22;
}

.header-button-border {
    width: 50px;
    height: 50px;
    /* border-left: #CE1212 8px solid; */
    border-left: #C17E1F 8px solid;
    border-radius: 50%;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.header-play-button {
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

a.header-play-button:hover {
    color: #de8f22;
}

/* End of Header */

/* Start of Chefs */
#Chefs {
    text-align: center;
    background-color: #202020;
}

#Chefs h2 {
    color: #7F7F90;
    font-size: 14px;
    font-weight: 400;
}

.chefs-p {
    /* color: #212529; */
    color: #fff;
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
}

p span {
    /* color: #CE1212; */
    color: #C17E1F;
    font-family: "Amatic SC", sans-serif;
}

.inner-chefs {
    /* background-color: burlywood; */
    text-align: center;
    border-radius: 8px;
}

.chef img {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}

.inner-chefs h3 {
    /* color: #212529; */
    color: #fff;
    font-size: 18.72px;
    font-weight: 700;
}

.inner-chefs span {
    color: #7F7F90;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0px 10px;
}

.inner-chefs p {
    color: #7F7F90;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

.chefs {
    display: flex;
    flex-flow: column wrap;

}

.chef {
    background-color: #171717;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 15px 0px;
    flex: 1 0 25%;
    position: relative;
    transition: transform 1s;
    /* margin: 30px; */
}

.chef-social {
    background-color: #c7c1bc;
    color: #7F7F90;
    width: fit-content;
    position: absolute;
    top: 40px;
    right: -50px;
    border-radius: 5px;
    padding: 20px;
    transition: all 1s ease-in-out;
    opacity: 0;
    overflow-x: hidden !important;
}

.chef-social i {
    cursor: pointer;
    transition: color 1s;
}

.chef:hover .chef-social {
    opacity: 0.7;
    right: 20px;
}

.chef:hover {
    transform: scale(1.1);
}

.chef-social i:hover {
    color: black;
}

/* End of Chefs */

/* Start of Gallery */
#Gallery {
    background-color: #252525;
    text-align: center;
}

.galleries {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.gallery-content h2 {
    color: #7F7F90;
    font-size: 14px;
    font-weight: 400;
}

.gallery-content p {
    /* color: #212529; */
    color: #fff;
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
}

.gallery-content span {
    /* color: #CE1212; */
    color: #C17E1F;
    font-family: "Amatic SC", sans-serif;
}

.gallery {
    border: #fff 2px solid;
    position: relative;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    transition: transform 1s;
}

.gallery-img-layer {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.gallery-layer-content {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.gallery-layer-content>h2 {
    font-size: 24px;
    font-weight: 700;
}

.gallery:hover .gallery-img-layer {
    top: 0;
    opacity: 1;
}

.gallery:hover img {
    transform: scale(1.5);
}

/* End of Gallery */