:root {
    --color-primary: hsl(35, 72%, 44%);
    --color-secondary: hsl(35, 74%, 50%);
    --font-color: hsl(240, 7%, 53%);
    --font-color-secondary: hsl(0, 0%, 100%);
    --font-size: 14px;
    --font-weight: 14px;
    --bg-primary: hsl(0, 0%, 9%);
    --bg-secondary: hsl(0, 0%, 15%);
    --bg-3: hsl(0, 0%, 13%);
    --bg-4: hsl(0, 0%, 62%);
    --bg-5: hsl(0, 0%, 5%);

    /* light theme */
    --color-primary-light: #CE1212;
    --color-secondary-light: #E61414;
    --bg-primary-light: #FFFFFF;
    --bg-secondary-light: #EEEEEE;
    --bg-3-light: var(--bg-primary-light);
    --bg-4-light: #4F4F5A;
    --bg-5-light: #F5F5F5;
    --font-color-secondary-light: #37373F;
}

:root:has(#theme:checked) {
    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --bg-primary: var(--bg-primary-light);
    --bg-secondary: var(--bg-secondary-light);
    --font-color-secondary: var(--font-color-secondary-light);
    --bg-3: var(--bg-3-light);
    --bg-4: var(--bg-4-light);
    --bg-5: var(--bg-5-light);
}

::selection {
    background: var(--color-primary);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: var(--bg-primary);
}

.container {
    padding: 40px 15px;
    width: 85%;
    margin: auto;
    scroll-snap-type: y mandatory;
}

section {
    padding: 70px 0 20px;

}

.text-upper {
    text-transform: uppercase;
}

h2 {
    color: var(--font-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-transform: uppercase;
}

.section-content {
    color: var(--font-color-secondary);
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: var(--font-weight);
}

h2+p span {
    color: var(--color-primary);
    font-family: "Amatic SC", sans-serif;
}

.text-align-center {
    text-align: center;
}

h3 {
    color: var(--font-color-secondary);
    font-size: 18.72px;
    font-weight: 700;
}

button:hover {
    background-color: var(--color-secondary);
}

/* Start of Navbar */
nav {
    color: var(--font-color-secondary);
    background-color: var(--bg-primary);
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 14px 0px #0000001b;
    font-size: 16px;
    font-weight: var(--font-weight);
}

nav .container {
    padding: 25px 15px;
}

.inner-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.nav-logo a {
    color: var(--font-color-secondary);
    font-size: 30px;
    font-weight: 700;
}

.nav-logo a::after {
    font-size: 30px;
    font-weight: 700;
    content: ".";
    color: var(--color-primary);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right a {
    color: var(--font-color-secondary);
}

nav .fa-solid,
nav .fa-regular {
    font-size: 25px;
    line-height: 25px;
    font-weight: 900;
    cursor: pointer;
}

.nav-theme {
    position: relative;
    margin-right: 20px;
}

.nav-theme label {
    cursor: pointer;
    transition: all 0.3s ease;
}

.light {
    display: none;
    color: var(--font-color);
}

.dark {
    display: block;
    color: var(--font-color-secondary);
}

:root:has(#theme:checked) .light {
    display: block;
}

:root:has(#theme:checked) .dark {
    display: none;
}

:root:not(:has(#theme:checked)) .light {
    display: none;
}

:root:not(:has(#theme:checked)) .dark {
    display: block;
}

.nav-links {
    background-color: var(--bg-primary-light);
    width: 280px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.nav-links:target {
    transform: translateX(0);
}

.nav-links:target .close-nav {
    display: flex;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
}

.nav-links ul li a {
    transition: all 1s;
}

.nav-links ul li a:hover {
    color: var(--font-color-secondary);
}

#mobile-menu .close-nav {
    padding: 10px 15px 5px;
    display: flex;
    justify-content: flex-end;
    color: var(--font-color);
}

i.fa-bars:hover .nav-links {
    transform: translateX(0);
}

.nav-links li {
    padding: 10px;
}

.nav-links a {
    color: var(--bg-4);
}

nav .nav-links ul li {
    position: relative;
}

nav .nav-links ul li a::before {
    content: "";
    background-color: var(--color-primary);
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -1px;
    left: 5px;
    transition: all 0.5s;
}

nav .nav-links ul li a:hover::before,
nav .nav-links ul li a.active::before {
    width: 52px;
}

.nav-links li a.active {
    color: var(--font-color-secondary);

}

/* End of Navbar */

/* Start of Header */
.header {
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
}

.header-inner {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
}

.header-image img {
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
    animation: tilt-n-move-shaking 300ms infinite;
    animation-play-state: paused;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(1px, 1px) rotate(1deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.header-image img:hover {
    animation-play-state: running;
}

.header h2 {
    color: var(--font-color-secondary);
    font-size: 50px;
    font-weight: 600;
    font-family: "Amatic SC", sans-serif;
}

.header p {
    color: var(--bg-4);
    font-size: 16px;
    line-height: 25.6px;
    font-weight: var(--font-weight);
    margin: 20px 0;
}

.header-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--font-size);
    font-weight: 300;
}

a.header-button {
    padding: 8px 18px;
    color: var(--bg-primary);
    background-color: var(--color-primary);
    border-radius: 30px;
    transition: all 1s;
}

a.header-button:hover {
    background-color: var(--color-secondary);
}

a.header-play-button {
    color: var(--bg-4);
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color 1s ease-in-out;
}

.header-button-border {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(to right, var(--color-primary) 0 50%, transparent 50% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-30%);
}

.header-button-border::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.header-button-border i {
    z-index: 5;
}

a.header-play-button:hover {
    color: var(--color-secondary);
}

/* End of Header */

/* Start of Chefs */
#Chefs {
    background-color: var(--bg-3);
}

.inner-chefs {
    border-radius: 8px;
}

.chef img {
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}

.inner-chefs span {
    color: var(--font-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin: 5px 0px 10px;
}

.inner-chefs p {
    color: var(--font-color);
    font-size: 12px;
    font-weight: var(--font-weight);
    font-style: italic;
}

.chefs {
    display: flex;
    flex-flow: column wrap;

}

.chef {
    background-color: var(--bg-primary);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 15px 0px;
    flex: 1 0 25%;
    position: relative;
    transition: transform 1s;
}

.chef-social {
    background-color: var(--bg-4);
    color: var(--font-color);
    width: fit-content;
    position: absolute;
    top: 40px;
    right: -10px;
    border-radius: 5px;
    padding: 15px;
    transition: all 1s ease-in-out;
    opacity: 0;
    overflow-x: hidden !important;
}

.chef-social i {
    color: var(--bg-secondary);
    cursor: pointer;
    transition: color 1s;
}

.chef:hover .chef-social {
    opacity: 0.7;
    right: 15px;
}

.chef:hover {
    transform: scale(1.1);
}

.chef-social i:hover {
    color: black;
}

/* End of Chefs */

/* Start of Gallery */
#Gallery {
    background-color: var(--bg-secondary);
}

.galleries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 10px;
    gap: 20px;
}

.gallery {
    border: var(--bg-primary) 2px solid;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery:nth-child(1) {
    grid-row: span 9;
}

.gallery:nth-child(2) {
    grid-row: span 22;
}

.gallery:nth-child(3) {
    grid-row: span 9;
}

.gallery:nth-child(4) {
    grid-row: span 20;
}

.gallery:nth-child(5) {
    grid-row: span 13;
}

.gallery:nth-child(6) {
    grid-row: span 13;
}

.gallery:nth-child(7) {
    grid-row: span 9;
}

.gallery img {
    width: 100%;
    transition: transform 1s;
}

.gallery-img-layer {
    color: var(--bg-primary-light);
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.gallery-layer-content {
    font-size: var(--font-size);
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-layer-content>h2 {
    color: var(--bg-primary-light);
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
}

.gallery:hover .gallery-img-layer {
    top: 0;
    opacity: 1;
}

.gallery:hover img {
    transform: scale(1.5);
}

/* End of Gallery */

/* Start of Contact */
#Contact {
    background-color: var(--bg-3);
}

.contacts {
    margin-block: 20px;
    display: flex;
    flex-flow: column wrap;
}

li.contact {
    background-color: var(--bg-5);
    color: var(--bg-4);
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 100%;
    padding: 10px;
    margin-block: 5px;
}

.contact-i {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: relative;
    color: var(--bg-5);
    padding: 8px;
}

.contact-i i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-primary);
}

.contact-content {
    padding-left: 10px;
}

.contact p {
    font-size: 12px;
    font-weight: 300;
}

.bold {
    font-size: 14px;
    font-weight: 600;
}

#Contact form {
    padding: 20px;
    background-color: var(--bg-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 15px 0px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: 2px var(--bg-secondary) solid;
    padding-left: 10px;
    margin: 10px 0;
}

.contact-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.subject {
    width: 100%;
}

textarea {
    width: 100%;
    border-radius: 0;
    border: 2px var(--bg-secondary) solid;
    padding: 10px 0 0 10px;
    resize: both;
    overflow: auto;
    margin-top: 10px;
}

button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    display: flex;
    margin-top: 10px;
    justify-self: center;
    cursor: pointer;
    transition: background-color 1s;
    color: var(--bg-secondary);
}

/* End of Contact */

/* Start Footer */
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7) 0% 100%), url('./../images/textured-metal-background.jpg');
    color: var(--bg-primary-light);
}

footer h3 {
    margin: 20px 0 10px;
}

.footer {
    display: flex;
    flex-flow: column wrap;
}

.footer-social {
    flex: 1 0 50%;
    float: left;
}

.footer-social img {
    width: 1.8rem;
    float: left;
    margin-right: 4px;
}

.footer-social img:after {
    content: "";
    clear: both;
}

.footer-social h2 {
    color: var(--bg-primary-light);
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.footer-social h2::after {
    font-size: 30px;
    font-weight: 700;
    content: ".";
    color: var(--bg-primary-light);
}

.footer-social p {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    margin: 10px 0px;
}

.footer-social h3 {
    color: var(--bg-primary-light);
    margin: 10px 0px 20px;
    padding: 10px 0;
    border-bottom: var(--font-color) 1px solid;
}

.footer-social ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.footer-social ul li i {
    flex: 1 0 10%;
    color: var(--bg-primary-light);
}

.footer-subscribe {
    flex: 1 0 100%;
}

.footer-subscribe p {
    font-size: var(--font-size);
    font-weight: 400;
}

.footer-subscribe form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-subscribe input {
    width: 70%;
    height: 34px;
}

.footer-subscribe button {
    height: 34px;
    width: 28%;
    padding: 10px 5px 10px 5px;
    border-radius: 0;
}

.footer-subscribe ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.footer h3 {
    color: var(--bg-primary-light);
    ;
}

.footer-subscribe a {
    color: var(--bg-primary-light);
    text-transform: capitalize;
}

.footer-subscribe ul li {
    font-size: 12px;
    font-weight: 300;
    flex: 1 0 50%;
    padding: 8px;
    transition: all 400ms ease-in-out;
}

.footer-subscribe ul li:hover {
    transform: translateX(10px);
    background-color: var(--bg-4-light);
}

.footer-subscribe ul li i {
    color: var(--bg-primary-light);
}

.footer-get-in-touch {
    flex: 1 0 50%;
}

.footer-get-in-touch i {
    color: var(--bg-primary-light);
    padding: 8px;
}

.footer-get-in-touch li {
    font-size: var(--font-size);
    font-weight: 300;
}

/* End Footer */